.jumbotron {
  text-align: center;
  background-color: #FFB6C1;
}

.blockquote-reverse{
  background-color: #FFF0F5;
}

#github-col {
  background-color: LightCoral;
}
body{
  border: 4px solid white;
  padding: 10px;
  margin: 0 auto;
  background-color: #FAEBD7;
}
