.jumbotron {
  text-align: center;
  background-color: #FFB6C1;
}

.blockquote-reverse{
  background-color: #FFF0F5;
}

#github-col {
  border-right-style: solid;
  border-right-color: LightCoral;

}

#result {
  margin-top: 30px;
  display: none;
}
body{
  /*border: 4px solid white;
  padding: 10px;
  margin: 0 auto;*/
  background-color: #FAEBD7;
}

#github-col h4 {
  color: DarkSeaGreen;
}
